.site--nav {
  width: 100%;
  z-index: 1000;
  display: none;
}

.site--profile {
  flex-direction: column;
}

.site--header-title {
  width: 100%;
  font-size: 0.5rem;
  text-align: right;
}

#toggle--nav:checked ~ .site--nav {
  display: flex;
}

.site--main {
  display: flex;
  flex-direction: column;
}