.mobile-only {
  display: none;
}

.site--body {
  --nav-width: max(20vw, 270px);
}

.site--nav {
  width: var(--nav-width);
  float: left;
  border-right: var(--cl-sc-hv) 4px solid;
}

.site--profile {
  height: 100%;
  gap: 2rem;
  display: flex;
  align-items: center;
}

.site--profile span {
  height: 100%;
  display: flex;
  align-items: center;
}

.site--header-branding {
  width: var(--nav-width);
  border-right: var(--cl-sc-hv) 4px solid;
}

.site--main {
  width: calc(100% - var(--nav-width));
  display: grid;
  float: right;
}