:root {
    --cl-fn: #e0e0e0;
    --cl-pr: #121212;
    --cl-sc: #343434;
    --cl-ac: #11aaff;
    --cl-fn-ac: #1f2cb4;
    --cl-pr-hv: #232323;
    --cl-sc-hv: #545454;
    --cl-ac-hv: #44ccff;
}

* {
    box-sizing: border-box;
}

html {
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(
        to bottom right,
        var(--cl-pr-hv),
        var(--cl-pr)
    );
    color: var(--cl-fn);
}

body.page {
    display: flex;
    flex-direction: column;
}

header.page {
    width: 100%;
    padding: 1rem;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    touch-action: pan-x;
    background-color: var(--cl-pr);
    box-shadow: var(--cl-pr) 0 0 5px;
}

header.page h1 {
    width: 25%;
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
    
    /** color and fallback **/
    color: var(--cl-ac);
    background-image: linear-gradient(265deg, var(--cl-ac), var(--cl-ac-hv));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header.page h1 i {
  display: none;
}

header.page nav {
    max-width: 25%;
    gap: 1rem 2rem;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

header.page ul {
    margin: 0;
    padding: 0.2rem;
    column-gap: 1rem;
    display: flex;
}

header.page li {
    width: auto;
    list-style: none;
    display: inline-block;
}

header.page hr {
    margin: 0;
    display: none;
}

.sublist {
  position: relative;
  background-color: inherit;
}

.sublist .sublist-items {
  padding: 1rem;
  border-radius: 0.5rem;
  top: 0;
  right: 100%;
  display: none;
  position: absolute;
  background-color: inherit;
  transform: translateX(-2rem);
}

.sublist:focus-within .sublist-items {
  display: flex;
}

.sublist ul {
  min-width: 200px;
  padding: 0;
  flex-direction: column;
  text-align: right;
}

.sublist a {
  width: 100%;
  display: block;
}

.sublist a i {
  float: left;
}

a {
  color: var(--cl-ac);
  text-decoration: none;
}

a:visited {
  color: var(--cl-ac-hv);
}

a:hover {
  color: var(--cl-fn-ac);
}

main.page {
  padding: 1rem;
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  max-width: 700px;
  width: 100%;
  height: auto;
  display: none;
}

.panel h1 {
  font-size: clamp(1.5rem, 5vw + 0.5rem, 4rem);
}

footer.page {
  padding: 1rem 1rem 1.5rem;
  background-color: var(--cl-sc);
}

footer.page div {
  gap: 1.5rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

footer.page label {
  min-width: 0;
  flex: 1 1 auto;
  text-align: center;
}

#toggle--welcome:checked ~ main.page #panel--welcome,
#toggle--overview:checked ~ main.page #panel--overview,
#toggle--project:checked ~ main.page #panel--project,
#toggle--contact:checked ~ main.page #panel--contact {
  display: block;
}

.tag {
  padding: 0.2rem;
  border-radius: 0.25rem;
  line-height: 1.4rem;
  white-space: nowrap;
  background-color: var(--cl-sc);
}

.mailto {
  max-width: 700px;
  width: 100%;
  display: block;
  position: relative;
}

.mailto fieldset {
  margin: 1rem 0;
  padding: 0.25rem;
  border-radius: 0.5rem;
  display: block;
  border: var(--cl-sc) 1px solid;
}

.mailto fieldset:nth-of-type(2) {
  height: 100%;
}

.mailto legend {
  margin: 0 1rem;
  font-size: 0.6rem;
}

.mailto input[name="subject"], .mailto textarea[name="body"] {
  margin: 2px;
  font-size: 0.6rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: block;
  border: none;
  background: transparent;
  color: var(--cl-fn);
}

.mailto input[name="subject"]:focus, form textarea[name="body"]:focus {
  outline: none;
}

.mailto textarea[name="body"] {
  height: max(200px, 20vh);
}

.mailto button {
  min-width: 70%;
  padding: 0.5rem 1rem;
  font-size: 0.6rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-bottom: var(--cl-ac) 1px solid;
  background: var(--cl-pr);
  color: var(--cl-fn);
}

.mailto button:hover {
  font-size: 0.4rem;
}

.italic {
  font-style: italic;
}